<a href="https://colab.research.google.com/github/sreekanthyarlagadda/ML_Python/blob/main/ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAY 1**

In [ ]:
print("hello world")

hello world

In [ ]:
a=100             # python uses same ID if the variable value is same. here  print(id(a)) , print(id(b)), print(id(c)) result is same.
print(id(a))      # because a=b=c=100

10754024

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [ ]:
a=b=c=10  # varaible assignment
print(a,b,c)

10 10 10

In [ ]:
print("Sreekanth Yarlagadda")

Sreekanth Yarlagadda

In [ ]:
# multiline comment

""" kjhaksjdhjh
  ajsdfjasdjf
  asjdf.jahsdfjk
  asjkjhaskdfjh """

print("hi")

hi

**DAY 2**

In [ ]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=10      # you can't use kaeyword as a variable name
print(False)

SyntaxError: cannot assign to False (<ipython-input-2-a9b307c5edad>, line 1)

In [ ]:
a= 'NTT'  # string allows single or double codes
print(a)

NTT

In [ ]:
b= "DATA"
print(b)

DATA

In [ ]:
s = "NTT DATA"   # positive index value
print(s[7])

A

In [ ]:
s = "NTT DATA"    # negative index value
print(s[-8])

N

**DAY 3**

In [ ]:

list = [10,20.3,"NTT",3+4j]    # creating a simple list (mutable(can be altered) and ordered)
print(list)                    # collection of sequence of elements of different data types
print(type(list))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
a = 3+4j
b=3.14
print(type(a))
print(type(b))

<class 'complex'>
<class 'float'>

In [ ]:
#isinstance    # The isinstance() function returns True if the specified object is of the specified type, otherwise False.
a=10
print(isinstance(a,float))

False

In [ ]:
# variable annotations     # it tells developers the data type of variables or function parameters
name: str = "sreekanth"
print(name)
print(type(name))
print(__annotations__['name'])

sreekanth
<class 'str'>
<class 'str'>

In [ ]:
aaa: int =3+4j
print(aaa)
print(__annotations__['aaa'])
print(type(aaa))        # type function return the datatype class which is depends on the variable value

(3+4j)
<class 'int'>
<class 'complex'>

In [ ]:
aa: float =10
print(aa)
print(type(aa))
print(__annotations__['aa'])

10
<class 'int'>
<class 'float'>

In [ ]:
t = (10,20.3,"NTT",3+4j)    # creating a simple tuple (immutable(can't be altered)and ordered)
print(t)                    # collection of sequence of elements of different data types
print(type(t))

(10, 20.3, 'NTT', (3+4j))
<class 'tuple'>

In [ ]:
d = {'a':1, 'bus':2, 3.14:3}      # dictionary has unordered set of key, value pairs.
print(d)                          # first one is key and second one is value
print(type(d))

{'a': 1, 'bus': 2, 3.14: 3}
<class 'dict'>

In [ ]:
e = {'ashok':25, 's':[2,3,6], 2:'one', 'd':(11,22,33)}    # key is primitive data type(int,float, char, str)
print(e)                                                  # value is primitive data type and be a list or tuple or dictionary.
print(type(e))

{'ashok': 25, 's': [2, 3, 6], 2: 'one', 'd': (11, 22, 33)}
<class 'dict'>

In [ ]:
s ={10,3.14,3+4j,"hello"}     # set is a unordered collection of unique items
print(s)
print(type(s))

{'hello', 10, 3.14, (3+4j)}
<class 'set'>

In [ ]:
for num in range(5):
    print(num)

0
1
2
3
4

In [ ]:
for num in range(10,21,2):      # range syntax range (start,stop,step). default starting value is 0 and step value is 1.
  print(num)

10
12
14
16
18
20

In [ ]:
for num in range(20,5,-2):
  print(num)

20
18
16
14
12
10
8
6

**DAY 4**

In [ ]:
# sub string
#indexing
#slicing syntax slice[start:stop:step]
s = "BANGALORE"
print("slicing of s:", s[0:3:1])   # in positive slicing , start value should be smaller & stop value should be bigger
print (s[-3:-9:-1])                # in negative slicing,  start value should be bigger & stop value should be smaller

slicing of s: BAN
OLAGNA

In [ ]:
# simple if statement
if 10>15:
  print("start of if")
  print("10 is greater than 15")
  print("end of if")

print("end of program")

end of program

In [ ]:
# if else ladder
s = input("enter a clour")

if s=="red":
  print("stop")
elif s=="yellow":
  print("ready")
elif s=="green":
  print("go")
else:
  print("invalid colour")

enter a clourred
stop

In [ ]:
# polydrom
a=input("enter a string:")
b=a[-1::-1]
if(a==b):
  print("polydrom")
else:
  print("not polydrom")

enter a string:hindi
not polydrom

In [ ]:
text = input("enter a string")   # to check polydrom
revtext = text[::-1]

if text == revtext:
  print("polidrome")
else:
  print("not a polidrome")

enter a stringmalayalam
polidrome

In [ ]:
# while statement
num = 19
i =1
while i<=10:
  print(num, "*", i, "=", num*i)
  i=i+1

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [ ]:
# for loop
s= "sreekanth"

for i in s:
  print(i)

s
r
e
e
k
a
n
t
h

**DAY 5**

In [ ]:
#concatination
str1= "- python is "
str2= "awesome "
str3= str1 + str2
print(str3)
str4= str3 *3   # string multiplication
print(str4)

- python is awesome
- python is awesome - python is awesome - python is awesome

In [ ]:
s1 = "NTT DATA" # strings are immutable(can't be altered) in python ; strings and tuples are immutable in python.
s1[0] ='n'

TypeError: 'str' object does not support item assignment

In [ ]:
# Deletion
s1 = "NTT DATA"   # deleting entire string is possible
print(s1)
del s1
print(s1)

NTT DATA

NameError: name 's1' is not defined

In [ ]:
# length of the string
s = input("enter a string ")
c=0
for i in s :
  c = c+1
print("length =", c)
# use in len function
print(len(s))

enter a string sreekanth
length = 9
9

In [ ]:
#membership operator
if "a" in "apple":
  print("yes")
else:
  print("no")

yes

In [ ]:
#count method, it shows count of sub strings
main_string=input("enter a string ")
sub_string=input("enter sub string ")
c=main_string.count(sub_string, 0, 3)
print(c)

enter a string nttdata
enter sub string t
2

In [ ]:
#startswith method
cell_no=input("enter your mobile no. with country code")
if cell_no.startswith("+91"):
  print("India")
elif cell_no.startswith("+1"):
  print("USA")

enter your mobile no. with country code+919716326768
India

In [ ]:
#endswith method
url=input("enter your url ")
if url.endswith(".in"):
  print("Indian website")
elif url.endswith(".com"):
  print("commercial website")
elif url.endswith(".edu"):
  print("educational website")

enter your url manabadi.edu
educational website

In [ ]:
# lstrip method - removing leading charecters
name = input("enter your name")
print(name)
name = name.lstrip()
print(name)

enter your name        sreekanth
        sreekanth
sreekanth

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for i in url:
  #i=i.lstrip("http://www.")
  #i=i.lstrip("htp:/w.")         # lstrip will remove left side same charectors, so, 1st & 2nd statements gives same result.
  i=i.lstrip("tph/")             # 3rd statement will give different result, because there is a mismatch after charecter 'p'
  print(i)

://www.myntra.com
://www.ajio.com
://www.cricbuzz.com

In [ ]:
# rstrip method -- - removing tailing charecters
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for i in url:
  i=i.rstrip(".com")    # rstrip will ignore duplicate charectors
  print(i)

http://www.myntra
http://www.aji
http://www.cricbuzz

In [ ]:
# strip method  -- it will remoe leading & tailing charecters
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for i in url:
  i=i.strip("htp:/w.com")
  print(i)

yntra
aji
ricbuzz

In [ ]:
# ascii values of alphabets
print(ord('a'))
print(ord('c'))
print(ord('A'))
print(ord('D'))

97
99
65
68

In [ ]:
# comparison operators
s1="AAnand"
s2="ABhijit"
if s1>s2:
  print("s1 is greater")
else:
  print("s2 is greater")

s2 is greater

In [ ]:
#replace method
s1= "I live in mumbai, mumbai is beautiful place"
s1.replace("mumbai","chennai",1)   # relaced only first string

'I live in chennai, mumbai ia beautiful place'

In [ ]:
#find method
s1= "I live in mumbai, mumbai ia beautiful place"
result=s1.find("mumbai")
print(result)

10

In [ ]:
#rfind method   -- it finds string last value
s1= "I live in mumbai, mumbai is beautiful place"
result=s1.rfind("mumbai")
print(result)

18

In [ ]:
#split method   -- it separates each string
s1= "I live in mumbai, mumbai is beautiful place"
result=s1.split()
print(result)

['I', 'live', 'in', 'mumbai,', 'mumbai', 'is', 'beautiful', 'place']

In [ ]:
s1= "I live in mumbai, mumbai is beautiful place"
result=s1.split("i")
print(result)

['I l', 've ', 'n mumba', ', mumba', ' ', 's beaut', 'ful place']

**DAY 6**

**DAY 7**

In [ ]:
# list method
l1 =list()
print(l1)
print(type(l1))

[]
<class 'list'>

In [ ]:
s = "NTT DATA"
l2 = list(s)
print(l2)

['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']

In [ ]:
l3 = list(range(1,5))
print(l3)

[1, 2, 3, 4]

In [ ]:
# print the occerance of elements

In [ ]:
# tuples
t1 =(1,2,3,4,[1,2,3],(1,6,5))
print(t1)
print(type(t1))

(1, 2, 3, 4, [1, 2, 3], (1, 6, 5))
<class 'tuple'>

In [ ]:
#tuple() method
s = "NTT DATA"
t2 = tuple(s)
print(t2)

l1 = [10,20,30]
t3 = tuple(l1)
print(t3)

l5 = list(t3)
print(l5)

('N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')
(10, 20, 30)
[10, 20, 30]

In [ ]:
# tuple with a single element
t5 = (6,)
print(t5)
print(type(t5))

(6,)
<class 'tuple'>

In [ ]:
t5 = (6)                # ambiquity comes only here when you not use comma (,) in tuple
print(t5)
print(type(t5))

6
<class 'int'>

In [ ]:
# concatination on tuples
t1 = (10,20,30)
t2= (40,50,50)
t3 = t1 + t2
print(t3)
print(type(t3))

(10, 20, 30, 40, 50, 50)
<class 'tuple'>

In [ ]:
t1 = (10,20,30)
t2 =t1*3
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [ ]:
# itrating tuples
t1 = (10,20,30)
for i in t1:
  print(i)

10
20
30

In [ ]:
t1 = (10,20,30,[40,50,60], 60, 70)
print(t1[1:4])

(20, 30, [40, 50, 60])

In [ ]:
# Dictionary
d1 = {"name":"sree","age":39,"city":"bangalore"}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.values())

print(d1.items())

{'name': 'sree', 'age': 39, 'city': 'bangalore'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['sree', 39, 'bangalore'])
dict_items([('name', 'sree'), ('age', 39), ('city', 'bangalore')])

**DAY 8**

In [3]:
# create a Dictionary
d1 ={2 : 100,
     4 : 200,
     6 : 300,
     8 : 400,
     10 : 500}
print(d1)
print(type(d1))

print(d1[2])
print(d1[10])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
100
500

In [6]:
d2 = {'aa' : 100,
      'bb' : 200,
      'cc' : 300}
print(d2)

print(d2['cc'])

{'aa': 100, 'bb': 200, 'cc': 300}
300

In [7]:
d3 = {3 : [1,2,3],
      6 : (4,5,6),
      9 : "NTT" }
print(d3)
print(d3[3])
print(d3[6])
print(d3[9])

{3: [1, 2, 3], 6: (4, 5, 6), 9: 'NTT'}
[1, 2, 3]
(4, 5, 6)
NTT

In [8]:
d4 = {(1,2) : 100,
      (3,4) : 200,
      (5,6) : 300}
print(d4[(1,2)])

100

In [10]:
d4 = {'hi' : 100,
      (3,4) : 200,
      (5,6) : 300}
print(d4['hi'])

100

In [14]:
# iterating through a Dictionary
d1 ={2 : 100,
     4 : 200,
     6 : 300,
     8 : 400,
     10 : 500}
for key1 in d1:
  print(key1)

2
4
6
8
10

In [16]:
# Iterate through values
d1 ={2 : 100,
     4 : 200,
     6 : 300,
     8 : 400,
     10 : 500}
for values in d1.values():
  print(values)

100
200
300
400
500

In [21]:
# Iterate through items
d1 ={2 : 100,
     4 : 200,
     6 : 300,
     8 : 400,
     10 : 500}
for item in d1.items():
  print(item)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [22]:
# membership operator
d1 ={2 : 100,
     4 : 200,
     6 : 300,
     8 : 400}

if 2 in d1 :
  print("yes")

if 10 not in d1:
  print("no")

yes
no

In [23]:
k = [2,3,4,5,6]
v = [100,200,300,400,500]   # create dict zip
d5 = dict(zip(k,v))
print(d5)

{2: 100, 3: 200, 4: 300, 5: 400, 6: 500}

In [ ]:
# assignment
s = "I live in bangalore, bangalore is garden city and beautiful city"