<a href="https://colab.research.google.com/github/sreekanthyarlagadda/ML_Python/blob/main/ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAY 1**

In [ ]:
print("hello world")

hello world

In [ ]:
a=100             # python uses same ID if the variable value is same. here  print(id(a)) , print(id(b)), print(id(c)) result is same.
print(id(a))      # because a=b=c=100

10754024

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [ ]:
a=b=c=10  # varaible assignment
print(a,b,c)

10 10 10

In [ ]:
print("Sreekanth Yarlagadda")

Sreekanth Yarlagadda

In [ ]:
# multiline comment

""" kjhaksjdhjh
  ajsdfjasdjf
  asjdf.jahsdfjk
  asjkjhaskdfjh """

print("hi")

hi

**DAY 2**

In [ ]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=10      # you can't use kaeyword as a variable name
print(False)

SyntaxError: cannot assign to False (<ipython-input-2-a9b307c5edad>, line 1)

In [ ]:
a= 'NTT'  # string allows single or double codes
print(a)

NTT

In [ ]:
b= "DATA"
print(b)

DATA

In [ ]:
s = "NTT DATA"   # positive index value
print(s[7])

A

In [ ]:
s = "NTT DATA"    # negative index value
print(s[-8])

N

**DAY 3**

In [ ]:

list = [10,20.3,"NTT",3+4j]    # creating a simple list (mutable(can be altered) and ordered)
print(list)                    # collection of sequence of elements of different data types
print(type(list))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
a = 3+4j
b=3.14
print(type(a))
print(type(b))

<class 'complex'>
<class 'float'>

In [ ]:
#isinstance    # The isinstance() function returns True if the specified object is of the specified type, otherwise False.
a=10
print(isinstance(a,float))

False

In [ ]:
# variable annotations     # it tells developers the data type of variables or function parameters
name: str = "sreekanth"
print(name)
print(type(name))
print(__annotations__['name'])

sreekanth
<class 'str'>
<class 'str'>

In [ ]:
aaa: int =3+4j
print(aaa)
print(__annotations__['aaa'])
print(type(aaa))        # type function return the datatype class which is depends on the variable value

(3+4j)
<class 'int'>
<class 'complex'>

In [ ]:
aa: float =10
print(aa)
print(type(aa))
print(__annotations__['aa'])

10
<class 'int'>
<class 'float'>

In [ ]:
t = (10,20.3,"NTT",3+4j)    # creating a simple tuple (immutable(can't be altered)and ordered)
print(t)                    # collection of sequence of elements of different data types
print(type(t))

(10, 20.3, 'NTT', (3+4j))
<class 'tuple'>

In [ ]:
d = {'a':1, 'bus':2, 3.14:3}      # dictionary has unordered set of key, value pairs.
print(d)                          # first one is key and second one is value
print(type(d))

{'a': 1, 'bus': 2, 3.14: 3}
<class 'dict'>

In [ ]:
e = {'ashok':25, 's':[2,3,6], 2:'one', 'd':(11,22,33)}    # key is primitive data type(int,float, char, str)
print(e)                                                  # value is primitive data type and be a list or tuple or dictionary.
print(type(e))

{'ashok': 25, 's': [2, 3, 6], 2: 'one', 'd': (11, 22, 33)}
<class 'dict'>

In [ ]:
s ={10,3.14,3+4j,"hello"}     # set is a unordered collection of unique items
print(s)
print(type(s))

{'hello', 10, 3.14, (3+4j)}
<class 'set'>

In [ ]:
for num in range(5):
    print(num)

0
1
2
3
4

In [ ]:
for num in range(10,21,2):      # range syntax range (start,stop,step). default starting value is 0 and step value is 1.
  print(num)

10
12
14
16
18
20

In [ ]:
for num in range(20,5,-2):
  print(num)

20
18
16
14
12
10
8
6

**DAY 4**

In [4]:
# sub string
#indexing
#slicing syntax slice[start:stop:step]
s = "BANGALORE"
print("slicing of s:", s[0:3:1])   # in positive slicing , start value should be smaller & stop value should be bigger
print (s[-3:-9:-1])                # in negative slicing,  start value should be bigger & stop value should be smaller

slicing of s: BAN
OLAGNA

In [7]:
# simple if statement
if 10>15:
  print("start of if")
  print("10 is greater than 15")
  print("end of if")

print("end of program")

end of program

In [8]:
# if else ladder
s = input("enter a clour")

if s=="red":
  print("stop")
elif s=="yellow":
  print("ready")
elif s=="green":
  print("go")
else:
  print("invalid colour")

enter a clourred
stop

In [9]:
# polydrom
a=input("enter a string:")
b=a[-1::-1]
if(a==b):
  print("polydrom")
else:
  print("not polydrom")

enter a string:hindi
not polydrom

In [11]:
text = input("enter a string")
revtext = text[::-1]

if text == revtext:
  print("polidrome")
else:
  print("not a polidrome")

enter a stringmalayalam
polidrome