<a href="https://colab.research.google.com/github/sreekanthyarlagadda/ML_Python/blob/main/ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
a=100             # python uses same ID if the variable value is same. here  print(id(a)) , print(id(b)), print(id(c)) result is same.
print(id(a))      # because a=b=c=100

10754024

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [ ]:
a=b=c=10  # varaible assignment
print(a,b,c)

10 10 10

In [ ]:
print("Sreekanth Yarlagadda")

Sreekanth Yarlagadda

In [ ]:
# multiline comment

""" kjhaksjdhjh
  ajsdfjasdjf
  asjdf.jahsdfjk
  asjkjhaskdfjh """

print("hi")

hi

In [ ]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=10      # you can't use kaeyword as a variable name
print(False)

SyntaxError: cannot assign to False (<ipython-input-2-a9b307c5edad>, line 1)

In [ ]:
a= 'NTT'  # string allows single or double codes
print(a)

NTT

In [ ]:
b= "DATA"
print(b)

DATA

In [ ]:
s = "NTT DATA"   # positive index value
print(s[7])

A

In [ ]:
s = "NTT DATA"    # negative index value
print(s[-8])

N

**DAY 3**

In [ ]:

l = [10,20.3,"NTT",3+4j]    # creating a simple list (mutable(can be altered))
print(l)

[10, 20.3, 'NTT', (3+4j)]

In [5]:
a = 3+4j
b=3.14
print(type(a))
print(type(b))  # type function return the datatype class

<class 'complex'>
<class 'float'>

In [ ]:
#isinstance    # The isinstance() function returns True if the specified object is of the specified type, otherwise False.
a=10
print(isinstance(a,float))

False

In [ ]:
# variable annotations     # it tells developers the data type of variables or function parameters
name: str ="sreekanth"
print(name)
print(__annotations__['name'])

sreekanth
<class 'str'>

In [ ]:
aaa: int =10
print(aaa)
print(__annotations__['aaa'])

10
<class 'int'>

In [3]:
aa: float =10
print(aa)
print(type(aa))
print(__annotations__['aa'])

10
<class 'int'>
<class 'float'>

In [ ]:
t = (10,20.3,"NTT",3+4j)    # creating a simple tuple (immutable(can't be altered))
print(t)

(10, 20.3, 'NTT', (3+4j))